---
import PublicLayout from "../layouts/PublicLayout.astro";
---

<PublicLayout title="Inicio">

  <section class="min-h-screen flex flex-col items-center justify-center">

    <h1 class="text-5xl font-bold mb-4">
      Concesionaria
    </h1>

    <p class="text-lg text-slate-600 mb-8">
      Sistema administrativo de vehículos
    </p>

    <a
      href="/login"
      class="bg-black text-white px-6 py-3 rounded-xl"
    >
      Iniciar sesión
    </a>

  </section>

</PublicLayout>